* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body, html {
  height: 100%;
}

body {
  background-color: #36413E;
  margin: 0;
  color: white;
}

.hero-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../pics/nick_mountain.JPG");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

ul {
  padding-top: 2em;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  text-align: center;
}

li {
  display: inline-block;
  padding: .5%;
}

li a {
  display: block;
  color: white;
  background-color: #36413E;
  border: 1px solid #8D8D92;
  border-radius: 10%;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


a:hover {
  background-color: #8D8D92;
}

button {
  margin: auto;
  text-align: center;
  display: block;
  color: white;
  background-color: #36413E;
  border: 3px solid #8D8D92;
  border-radius: 5%;
  margin-top: 3em;
  height: 4em;
  width: 20em;
  font-size: large;
}

button:hover {
  background-color: #8d8d92;
  color: #36413E;
}

img {
  border: 2px solid #beb2c8;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
  filter: blur(.05em);
}

img:hover {
  box-shadow: 0 0 2px 1px #D7D6D6;
  filter: grayscale(0%);
}

.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  gap: 15px;
  width: 80%;
  margin: auto;
  padding-top: 4em;
}

figure {
  margin: 0;
}

.gallery_item_1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
}

.gallery_item_2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 4;
}

.gallery_item_3 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 9;
}

.gallery_item_4 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 9;
}

.gallery_item_5 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 5;
}

.gallery_item_6 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 5;
  grid-row-end: 9;
}

.gallery_item_7 {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 5;
  grid-row-end: 9;
}

footer {
  text-align: center;
  padding: 2em;
}

.bottom-bar {
  margin: auto;
  display: inline-block;
  width: 5em;
}