* {
  box-sizing: border-box;
  font-family: "Montserrat",sans-serif;
  margin: 0;
}

body {
  background-color: #40555e;
}

.main {
  background-image: url("../pics/landscapes/rado2_tiny.jpg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
}

#nav {
  display: inline;
}

.nav-item {
  font-size: x-large;
  cursor: pointer;
  outline: none;
  transition: color .4s;
}

.nav-item:hover {
  color: lightcoral;
  background-color: black;
}

#top-bar {
  height: 50px;
  background-color: black;
  padding-top: .5em;
}

.top-right-nav {
  float: right;
  padding-right: 1.1em;
}

span a {
  font-size: 1.2em;
  color: #b1b4ba;
  text-decoration: none;
}

#box {
  width: 30%;
  height: 60%;
  background-color: black;
  border-radius: 5%;
  margin: auto;
  flex-direction: column;
  padding-top: 2em;
  text-align: center;
}

#box p {
  color: #b1b4ba;
  font-size: medium;
  padding: .5em;
}

.stack {
  columns: 2;
  column-fill: balance;
}

#button {
  padding-left: 25em;
}

img {
  border: 2px solid #beb2c8;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
  filter: blur(.05em);
}

img:hover {
  box-shadow: 0 0 2px 1px #D7D6D6;
  filter: grayscale(0%);
}

.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  gap: 15px;
  width: 80%;
  margin: auto;
  padding-top: 4em;
}

figure {
  margin: 0;
}

.gallery_item_1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
}

.gallery_item_2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 4;
}

.gallery_item_3 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 9;
}

.gallery_item_4 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 9;
}

.gallery_item_5 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 5;
}

.gallery_item_6 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 5;
  grid-row-end: 9;
}

.gallery_item_7 {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 5;
  grid-row-end: 9;
}